[access]
	inheritFrom = All-Projects
[submit]
	action = inherit
[access "refs/for/refs/heads/*"]
	pushMerge = group Raphael maintainers
[access "refs/heads/*"]
	create = group Raphael maintainers
	label-Code-Review = -2..+2 group Raphael maintainers
	label-Verified = -1..+1 group Raphael maintainers
	push = +force group Raphael maintainers
	pushMerge = group Raphael maintainers
	submit = group Raphael maintainers
