type omni_sysfs_drm, sysfs_type, fs_type;

type adsprpcd_file, file_type;
type bt_firmware_file, file_type;
type firmware_file, file_type;
type persist_file, file_type;

type display_data_file, data_file_type, core_data_file_type, file_type;
type pps_socket, file_type;

type sysfs_graphics, sysfs_type, fs_type;
type sysfs_tp_fodstatus, sysfs_type, fs_type;

type vendor_pd_locater_dbg_prop, property_type;

# kgsl gpu model file type for sysfs access
type sysfs_kgsl_gpu_model, sysfs_type, fs_type;

type motor_device, dev_type;
type hall_device, dev_type;

type diag_device, dev_type, mlstrustedobject;

#type vendor_lib_file, file_type, vendor_file_type;
