type hal_citsensorservice_xiaomi_default, domain, coredomain;
type hal_citsensorservice_xiaomi_default_exec, file_type, exec_type, vendor_file_type;

allow hal_citsensorservice_xiaomi_default sensors_prop:file { read open };
allow hal_citsensorservice_xiaomi_default vendor_file:dir r_dir_perms;
allow hal_citsensorservice_xiaomi_default vendor_public_lib_file:file { read open getattr map };
#allow hal_citsensorservice_xiaomi_default vendor_lib_file:file { read open getattr map };
