type hal_capabilityconfigstore_qti_default, domain, coredomain;

allow hal_capabilityconfigstore_qti_default vendor_cap_configstore_dbg_prop:file { read open };
allow hal_capabilityconfigstore_qti_default vendor_file:dir r_dir_perms;
allow hal_capabilityconfigstore_qti_default vendor_public_lib_file:file { read open getattr map };
#allow hal_capabilityconfigstore_qti_default vendor_lib_file:file { read open getattr map };
