type hal_motor_default, domain, halserverdomain;

allow hal_motor_default system_app:binder call;
allow hal_motor_default persist_camera_prop:file { read open getattr map };
