type hal_capabilityconfigstore_qti_default, domain, coredomain;

allow hal_capabilityconfigstore_qti_default vendor_cap_configstore_dbg_prop:file read;
allow hal_capabilityconfigstore_qti_default vendor_file:dir read;
allow hal_capabilityconfigstore_qti_default vendor_public_lib_file:file read;
