type vendor_display_prop, property_type;
type vendor_cap_configstore_dbg_prop, property_type;
type sensors_prop, property_type;
type log_GAv4_prop, property_type;
