allow untrusted_app_27 sysfs_kgsl:dir search;
allow untrusted_app_27 sysfs_kgsl:file { getattr open read };

# set_prop(untrusted_app_27, log_GAv4_prop)
