on init
    mount none /system/overlay/EmptyOverlay/EmptyOverlay.apk /vendor/overlay/CarrierConfigResCommon.apk bind

on post-fs-data
    chown system system /sys/class/drm/card0-DSI-1/dim_alpha
    chown system system /sys/class/drm/card0-DSI-1/fod_ui_ready
    chown system system /sys/class/drm/card0-DSI-1/dim_layer_enable
    write /sys/class/drm/card0-DSI-1/dim_layer_enable 1

on boot
    write /sys/class/thermal/thermal_message/sconfig 10

service vendor.capabilityconfigstore /vendor/bin/hw/vendor.qti.hardware.capabilityconfigstore@1.0-service
    override
    class hal
    user system
    group system
    disabled

service vendor.imsdatadaemon /vendor/bin/imsdatadaemon
    override
    class main
    user radio
    socket ims_datad stream 0660 system radio
    group radio wifi inet vendor_qti_diag log
    disabled
